myocamlbuild.ml
*.log
dns/obj/
dns/queryperf
dns/dlz-perf-tools/dns_data-1.0.csv*
dns/data/named-*
dns/data/format-*.conf
dns/data/queryperf-*.txt
dns/data/raw-*.csv
dns/data/rawdata-*.conf
dns/minios-*
dns/data/output-*
dns/data/result-*
dns/data/input
dns/app/server*.ml
dns/app/deens*.mir
dns/dns-perf.pdf
_build/
.fuse_hidden*
dns/data/nsd-*.db
